html,
body {
	background-color: #000;
}

* {
	margin: 0;
}

.slider {
	width: 500px;
	height: 500px;
	border: 15px solid white;
	margin: 0 auto;
	position: relative;
	/* overflow: hidden; */
	margin-top: 2rem;
}

.slider-line {
	position: relative;
	display: flex;
}

.slider img {
	max-width: 500px;
	width: 100%;
}

.prev-btn,
.next-btn {
	cursor: pointer;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 6px solid #fff;
	background-color: #000;
	color: #fff;
	position: absolute;
	margin-top: 50%;
	z-index: 10;
	font-size: 2rem;
	line-height: 2rem;
	box-shadow: 3px 3px 3px #000;
}

.prev-btn {
	left: 14px;
}

.next-btn {
	right: 14px;
}
